<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
    <p>
      <img src="https://img.shields.io/badge/license-MIT-red.svg" alt="license" />
      <a href="https://ci.appveyor.com/project/objorke/oxyplot"><img src="https://img.shields.io/appveyor/ci/objorke/oxyplot.svg" alt="build status" /></a>
      <a href="{{ site.nuget }}"><img src="https://img.shields.io/nuget/v/OxyPlot.Core.svg" alt="stable version" /></a>
      <a href="{{ site.myget }}"><img src="https://img.shields.io/myget/oxyplot/vpre/OxyPlot.Core.svg" alt="pre-release version" /></a>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Home</a>
    <a class="sidebar-nav-item" href="/announcements">Announcements</a>
    <a class="sidebar-nav-item" href="{{ site.docs }}">Documentation</a>
    <a class="sidebar-nav-item" href="/support">Support</a>
    <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}/releases">Releases</a>-->
    <a class="sidebar-nav-item" href="{{ site.nuget }}">NuGet packages</a>
    <a class="sidebar-nav-item" href="{{ site.myget }}">MyGet packages</a>
    <a class="sidebar-nav-item" href="{{ site.examples }}">Examples</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">Source code</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/issues">Issues</a>
    <a class="sidebar-nav-item" href="{{ site.forum }}">Discussion forum</a>
    <a class="sidebar-nav-item" href="{{ site.chat }}">Chat room</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
